* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(images/patt.png);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row:after, .menu:after {
    content: "";
    display: block;
    clear: both;
}

.col-md-3 {
    width: 25%;
}

.col-md-6 {
    width: 50%;
}

[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    padding: 25px 0;
    background-color: rgb(255, 255, 255, 0.75);
}

li {
    width: 25%;
    float: left;
    border-left: 1px solid #2c71b8;
    position: relative;
}

.menu li:last-child {
    border-right: 1px solid #2c71b8;
}

.menu a {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 21px;
    color:#2c71b8;
}

.menu a:hover {
    background-color: #2c71b8;
    color: white;
}

.menu ul {
    display: none;
    position: absolute;
    top: 100%;
    list-style-type: none;
    width: 286px;
    height: 315px;
    background-color:#2c71b8 ;
    margin-left: -1px;
}

.menu li:hover ul {
    display: block;
}

.dropdaun li {
    color: white;
    position: relative;
    border: none;
    float: none;
    width: 286px;
    height: 40px;
}

.dropdaun li:last-child {
    border: none;
}

.dropdaun a {
    text-align: left;
    padding-left: 31px;
    color: white;
}

.dropdaun a:hover{
    background-color: white;
    color: #2c71b8;
}

.col-md-9 {
    width: 75%;
}

.form-search {
    height: 50px;
    width: 100%;
}

.form {
    border: 1px solid #2c71b8;
    height: 40px;
    position: absolute;
    width: 195px;
    top: 30px;
}

.input-changes {
    width: 80%;
    background: 0 none !important;
    outline: none !important;
    border: none;
    position: relative;
    font-size: 21px;
    height: 30px;
    color: #2c71b8;
    left: 5px;
    bottom: 3px;
    font-family: 'Roboto', sans-serif;
}

.search {
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 4px;
    top: 4px;
    background-image: url(images/icon\ \(4\).png);
    background-color: #2c71b8;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

::placeholder {
    color: #2c71b8;
    margin-right: 15px;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
}

.cart {
    background-image: url(images/bin.png);
    background-color: white;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: 5px;
    margin-left: 4px;
}

.product-cart {
    width: 20px;
    height: 20px;
    border: 1px solid #2c71b8;
    border-radius: 50%;
    text-align: center;
    background-color: #2c71b8;
    color: white;
    line-height: 20px;
    font-size: 12px;
    position: absolute;
    bottom: 30px;
    right: 30px;
}

#cart {
    width: 40px;
    height: 40px;
    display: block;
}

.slaider {
    width: 100%;
    height: 400px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: #235a9370;
    text-align: center;
    line-height: 400px;
    font-size: 50px;
}

.filter {
    height: 844px;
    border-right: 1px solid white;
    cursor: pointer;
    padding: 30px;
    font-size: 21px;
    color: white;
    background-color: #568dc6b5;
}

.filter li {
    float: none;
    width: auto;
    border: none;
}

.divace-type{
    padding-bottom: 45px;
}
.color-divace{
    padding-bottom: 50px;
}
.ram-divace{
    padding-bottom: 20px;
}
.filter ul li{
    padding-bottom: 19px;
}

.show-option{
    padding-left: 15px;
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
}
.btn-submit{
    background-color: #2c71b8;
    border: 1px solid white;
}
.filter li label{
    cursor: pointer;
}

input[type="checkbox"]{
    display: none;
}

label{
    padding-left: 12px;
}
label::before{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    vertical-align: middle;
    margin-left: -10px;
    margin-right: 10px;
}
input[type="checkbox"]:checked + label::before{
    background-color: white;
}

.bold-divace {
    font-weight: bold;
}


.bredcrums {
    margin-top: 30px;
}

.bredcrums a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ffffff75;
}

.bredcrums .strelka {
    padding: 0 5px;
}

.bredcrums .Laptops-and-Tables {
    text-decoration: underline;
}

.bredcrums a:hover {
    color: white;
}

.col-md-8 {
    width: 66.66%;
}

.laptops {
    font-size: 48px;
    color: white;
    margin-top: 20px;
    font-weight: bold;
    margin-left: -2px;
}

.col-md-4 {
    width: 33.33%;
}

.sort li {
    width: 100%;
    float: right;
    border: 1px solid white;
    position: relative;
    top: 20px;
    z-index: 10;
}

.sort a {
    display: block;
    height: 39px;
    width: 268px;
    line-height: 40px;
    text-decoration: none;
    padding-left: 20px;
    font-size: 21px;
    color: white;
    background-color: #2c71b8;
}

.sort a:hover {
    background-color: white;
    color:#2c71b8;
}

.sort ul {
    display: none;
    position: absolute;
    list-style-type: none;
    height: 121px;
    background-color: #2c71b8;
    top: 100%;
    margin-left: -1px;
}

.sort li:hover ul {
    display: block;
}

.dropdoun-sort li {
    border: 1px solid white;
    height: 41px;
    position: relative;
    top: 0px;
}

.dropdoun-sort a:hover {
    background-color: white;
    color: #2c71b8;
}

.product {
    height: 650px;
    width: 270px;
    /* border: 1px solid #cadbed; */
}

.product-image {
    display: block;
    height: 180px;
    position: relative;
    background-color: #cadbed;
}

.image-devise {
    position: absolute;
    margin: 0 auto;
    left: 0px;
    top: 45px;
    bottom: 0;
    right: 0;
}

.zoom {
    background-image: url(images/zoom-blue.png);
    border: 1px solid #2c71b8;
    height: 30px;
    width: 30px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 230px;
    top: 10px;
}

.zoom:hover {
    background-image: url(images/zoom-white.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #2c71b8;
}

.like {
    background-image: url(images/like-blue.png);
    border: 1px solid #2c71b8;
    height: 30px;
    width: 30px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 230px;
    top: 50px;
}

.like:hover {
    background-image: url(images/like-white.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #2c71b8;
}

.product {
    position: relative;
    color: white;
    margin-bottom: 25px;
    background-color: #2c71b8b8;
    margin-top: 30px;
}

.product-body {
    padding-left: 15px;
    padding-top: 10px;
    border: 1px solid white;
    height: 470px;
}

.product-title h1 {
    font-size: 30px;
    font-weight: bold;
}

.product-descriotion {
    font-size: 21px;
    margin-top: 23px;
}

.product-features {
    padding-top: 21px;
    font-size: 21px;
}

.strong {
    font-weight: bold;
}

.product-features .features{
    margin-bottom: 10px;
}

.product-price {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-top: 20px;
}

sup {
    font-size: 24px;
    vertical-align: super;
}

.btn {
    width: 210px;
    height: 50px;
    color: white;
    cursor: pointer;
    font-size: 21px;
    font-weight: bold;
}

.btn-more-details {
    position: absolute;
    background-color: #2c71b8;
    border: 1px solid white;
    bottom: 95px;
    left: 30px;
}

.btn-add-to-cart {
    position: absolute;
    background-color: #598fc7;
    border: none;
    bottom: 30px;
    left: 30px;
    background-image: url(images/cart-white.png);
    background-position:right 15px top 15px;
    background-repeat: no-repeat;
}

.btn:hover {
    background-color: white;
    color: #2c71b8;
    
}

.btn-add-to-cart:hover {
    background-image: url(images/bin.png);
    background-position:right 15px top 15px;
    background-repeat: no-repeat;
}

.load {
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 36px;
}

.load a {
    color: white;
    text-decoration: none;
}

.footer {
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 21px;
    color: #2c71b8;
    background-color: rgb(255, 255, 255, 0.75);
}

.modal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
    display: none;
}

.modal-block {
    width: 400px;
    height: 210px;
    margin: 200px auto;
    border: 5px solid rgba(15, 15, 115, 0.469);
    background-image: url(images/patt.png);
}

.form-field {
    margin: 10px 0;
}

.btn-position {
    float: right;
}

.btn-close {
    width: 20px;
    height: 20px;
    display: block;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    background-color: #732828;
    margin: 5px;
    margin-top: -5px;
}

.btn-position:after {
    content: "";
    display: block;
    clear: both;
}

.modal-block h3 {
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
}

.input-modal {
    width: 90%;
    height: 40px;
    margin: 0 20px;
    outline: none !important;
    background: #00000073;
    border: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-left: 10px;
}

.btn-modal {
    width: 130px;
    height: 35px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    background-color: #2c71b8;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 5px 130px;
    cursor: pointer;
}

.btn-modal:hover {
    color: #2c71b8;
    background-color: white;
}

.hide {
    display: none;
}

.show {
    display: block;
}